[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
argcomplete = "==1.11.0"
pytz = "==2019.3"
python-dateutil = "==2.7.3"
tzlocal = "==1.5.1"

[dev-packages]
yapf = "==0.29.0"
setuptools = "==40.4.3"
wheel = "==0.33.6"
twine = "==3.1.1"
pytest = "==5.3.2"
ddt = "==1.2.2"
pylint = "==2.4.4"
isort = "==4.3.21"

[requires]
python_version = "3.6"
