name: Publish

on:
  push:
    branches:
      - master

jobs:
  build-and-test:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]
    steps:
      - uses: actions/checkout@v4
      - name: Setup python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Bootstrap
        run: make ci.bootstrap
      - name: Update version in pyproject.toml
        run: make ci.update-version-in-pyproject
      - name: Test
        run: make test
      - name: Upload dist directory
        uses: actions/upload-artifact@v4
        with:
          name: dist-${{ matrix.python-version }}
          path: dist

  publish:
    runs-on: ubuntu-22.04
    needs: build-and-test
    steps:
      - uses: actions/checkout@v4
      - name: Setup python
        uses: actions/setup-python@v5
        with:
          python-version: 3.12
      - name: Bootstrap
        run: make ci.bootstrap
      - name: Configure poetry
        run: make ci.configure-poetry
        env:
          PYPI_API_TOKEN: ${{ secrets.pypi_api_token }}
          TEST_PYPI_API_TOKEN: ${{ secrets.test_pypi_api_token }}
      - name: Update version in pyproject.toml
        run: make ci.update-version-in-pyproject
      - name: Download dist directory
        uses: actions/download-artifact@v4
        with:
          name: dist-3.12
          path: dist
#      - name: Publish (Test PyPI)
#        run: make ci.publish.test-pypi
      - name: Publish
        run: make ci.publish.pypi
